* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

.content {
    max-width: 1230px;
    width: 100%;
    margin: auto;
}

.clear {
    clear: both;
}

header {
    width: 100%;
    padding: 10px;
    background-color: #1F4F37;
}

.list-mobile {
    width: 100px;
    height: 100px;
    position: absolute;
    right: 0;
    top: 0;
}

.list-mobile i {
    z-index: 1;
    transition: 1s;
    padding: 10px;
    display: none;
    float: right;
    position: relative;
    text-align: center;
    top: -2px;
    right: 20px;
    font-size: 30px;
}

.logo {
    color: white;
    float: left;
}

.logo img {
    width: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.logo h1 {
    display: inline-block;
}

.logo h1 a {
    font-size: 30px;
    color: white;
    text-decoration: none;
}

nav.desktop {
    float: right;
}

nav.desktop ul {
    list-style-type: none;
}

nav.desktop ul li {
    float: left;
    padding: 8px 10px 0px 10px;
    transition: 0.5s;
    height: 100%;
    outline: none;
    border: 0;
    font-size: 20px;
}

nav.desktop ul li:hover {
    border-bottom: 3px solid black;
    padding-top: 5px;
}

nav.desktop ul li a {
    color: white;
    text-decoration: none;
}

nav.mobile {
    transition: 1s;
    opacity: 0;
    position: absolute;
    left: 0px;
    top: 57px;
    width: 100%;
    height: 100%;
    background-color: #0d7c44;
    z-index: 999;
    text-align: center;
}

nav.mobile ul {
    padding-top: 200px;
    list-style-type: none;
}

nav.mobile ul li {
    padding: 10px 0px;
    font-size: 30px;
}

nav.mobile ul li:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid black;
}

nav.desktop ul li:nth-child(5) a,
nav.mobile ul li:nth-child(5) a {
    color: aqua;
}

nav.mobile ul li a {
    color: white;
    text-decoration: none;
}

.openings {
    width: 100%;
    margin: 40px 0px;
}

.openings-title {
    text-align: center;
    margin: 30px 0px;
}

.openings-wraper {
    display: flex;
    margin: 60px 0px;
}

.openings-single {
    width: 50%;
    margin: 30px 0px; 
}

.openings-single h1 {
    text-align: center;
}

.openings-single nav {
    padding: 20px 0px;
}

.openings-single nav ul h1 {
    text-align: left;
}

.openings-single nav ul li {
    margin-left: 30px;
}

footer {
    width: 100%;
    background-color: #1F4F37;
    display: flex;
    margin: auto;
    color: white;
}

.footer-singles {
    width: 35%;
    padding: 10px 30px;
}

.locali-footer h1 {
    font-size: 30px;
    padding: 10px 0px;
}

.locali-footer p {
    font-size: 18px;
    text-align: left;
}

.locali-footer p:nth-child(3) {
    padding: 10px 0px;
}

.locali-footer p:nth-child(5) {
    padding-bottom: 10px;
}

.locali-footer a {
    color: white;
}

.infor-footer {
    padding: 10px;
}

.infor-footer h1 {
    font-size: 25px;
}

.infor-footer a {
    display: block;
    color: white;
}

.infor-footer span {
    padding-top: 20px 0px;
}

.infor-footer .traco {
    width: 100%;
    height: 2px;
    background-color: gray;
    margin: 20px 0px;
}

.infor-footer a {
    padding: 5px 0px;
    color: white;
}

.logo-footer {
    text-align: center;
}

@media screen and (max-width: 950px) {
    .logo {
        float: none;
        text-align: center;
    }

    nav.desktop {
        display: none;
    }

    .list-mobile i {
        display: block;
        display: inline-block;
    }

    footer {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .footer-singles {
        width: 50%;
        padding: 0px;
    }

    .infor-footer h1 {
        padding: 0;
    }
}

@media screen and (max-width: 770px) {
    nav.mobile {
        width: 100%;
        padding: 10px;
        height: 200px;
        top: 58px;
    }

    footer {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .footer-singles {
        width: 50%;
        padding: 0px;
    }

    .locali-footer {
        padding: 0px;
    }
}

@media screen and (max-width: 500px) {

    footer {
        flex-direction: column;
    }

    .footer-singles {
        width: 90%;
        margin: 10px 0px;
        padding: 0px;
        text-align: justify;
    }

    .infor-footer {
        padding: 0px;
    }
}